*{
    margin:0;
    padding:0
}

body{
    background-color: rgb(255, 0, 0);
    overflow: hidden;
}
.gameContainer{
background-image: url(green-meadow-landscape-game-background-vector.jpg);
background-repeat: no-repeat;
background-size: 100vw 100vh;
width: 100%;
height: 100vh;
}

.sheep{
    background-image: url(sheep.png);
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    position: absolute;
    bottom:160px;
    left: 300px;
    background-size: cover;
}

.obstacle{
    background-image: url(dragon.png);
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: 160px;
    left: 60vw;
    background-size: cover;
}

.obstacleAni{
    animation: obstacleAni 5s linear infinite;
}

.gameOver{
    position: relative;
    top: 63px;
    font-size: 60px;
    text-align: center;
 
    font-family: fantasy;
}

#scoreCont{
    position: relative;
    top: 63px;
    font-size: 40px;
    text-align: center;
    font-family: fantasy;
    color: rgb(36, 41, 122);
}

.animateSheep{
    animation: sheep 0.6s linear;
}
@keyframes sheep{
    0%{
        bottom: 160px;
    }
    50%{
        bottom: 452px;
    }
    100%{
        bottom: 160px;
    }
}

@keyframes obstacleAni{
    0%{
        left: 100vw;
    }
    100%{
        left: -10vw;
    }
}
